
/* Navbar */

.logo {
    padding-left: 45px
}

.About {
    width: 70% !important;
    margin-left: 45%;
    display: flex !important;
    justify-content: space-evenly !important;
}
.border {
    border: 2px solid rgb(146, 143, 143) !important;
    border-radius: 7px;
}
/* Banner Section */
.hero {
    height: 400px;
  
  
}

.txt {
    font-weight: bold;
}

.pb {
    position: relative;

}

.para {
    font-size: 1rem;
    position: absolute;
    bottom: 70px;
    left: 90px;
}

/* logo-service Section */

.logo-service {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
}


/* Service */

#srvc{
    margin-left: 20%;
    padding-top: 30px;
   align-items: center;
    background-color: #B9FF66 !important;
   
}

/* Card */
#card {
    display: flex;
    margin-top: 20px;
    height: 230px;
    justify-content: space-evenly;
   }
   .crd1 {
    display: flex;
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    height: 100%;
    width: 40%;
    background-color: #f3f3f3;
    
   }
   .crd2 {
    
    display: flex;
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    height: 100%;
    width: 40%;
    background-color: #B9FF66;
    
   }

   .seo {
    display: block;
    background-color: #B9FF66;
   height: 80px;
    margin-top: 40px;
    margin-left: 40px;
   }
   .seo2 {
    display: block;
    background-color: #f3f3f3;
   height: 80px;
    margin-top: 40px;
    margin-left: 40px;
   }

   .tokyo {
    position: absolute;
    right: 50px;
    bottom: 50px;
   }
    
   .arrw {
    position: absolute;
    bottom: 10px;
    left: 40px;
   }


   /* accordion1 */

   .accordion1 {
    position: relative;
    height: 200px;
    background-color: #B9FF66;
    margin-top: 20px;
    margin-left: 7%;
    margin-right: 6%;
    padding-left: 60px;
    padding-top: 40px;
    padding-right: 60px;
    border: 1px solid black;
    border-radius: 20px;
   }

   .uprh {
    display: flex;
    font-family: Space Grotesk;
    font-weight: bolder;
   }

   .minus-sign {
    position: absolute;
   
    top: 35px;
    right: 50px;
   }

 /* accordion2 */
   .accordion2 {
    position: relative;
    height: 100px;
    background-color: #f3f3f3;
    margin-top: 20px;
    margin-left: 7%;
    margin-right: 6%;
    padding-left: 60px;
    padding-top: 40px;
    padding-right: 60px;
    border: 1px solid black;
    border-radius: 20px;
   }

   .uprh2 {
    display: flex;
    font-family: Space Grotesk;
    font-weight: bolder;
   }

   .minus-sign2 {
    position: absolute;
   
    top: 35px;
    right: 50px;
   }

   /* form */

   .form-section {
    display: flex;
    position: relative;
    height: 400px;
    background-color: #f3f3f3;
    margin-top: 20px;
    margin-left: 7%;
    margin-right: 6%;
    padding-top: 40px;
    padding-left: 50px;
    border-radius: 20px;
    
   }
   .form-control {
    width: 90% !important;
   }
   .form-s {
    height: 100%;
    width: 50%;
   }
   .illu {
    position: absolute;
    top: 0px;
    right: 0px;
    

   }


   /* Footer */

.foot {
    height: 500px;
    background-color: black;
    display: flex;
    position: relative;
    margin-top: 20px;
    margin-left: 7%;
    margin-right: 6%;
    padding-top: 40px;
    padding-left: 50px;
    border-radius: 20px;
    color: #f3f3f3;
}
.manu  {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    color: white;
}


.socl-log {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}

.aa a{
    color: #f3f3f3;
}

.button-btm {
    position: absolute;
    background-color: #B9FF66;
    top: 100px;
    left: 50px;
    border-radius: 10px;
}

.info {
    position: absolute;
    top: 140px;
    left: 50px;
}
.aara {
    position: absolute;
    color: #f3f3f3;
   padding-top: 20px;
    background-color: grey;
    height: 130px;
    width: 500px;
    text-align: center;
    top: 120px;
    right: 60px;
}

.botn {
    background-color: #B9FF66 !important;
    border-radius: 20px;
}

.pera1 {
    position: absolute;
    bottom: 10px;
    left: 40px;
}
.pera2 {
    position: absolute;
    bottom: 10px;
    left: 400px;
}
  
/* MediA qUERIES */
/* Smartphones */
@media only screen and (max-width: 500px) {
    .pb {
        position: relative;
    
    }
    
    
    .para {
        font-size: 1rem;
        position: absolute;
        bottom: -140px;
        left: 10px;
  }

  .logo-service {
    margin-top: 300px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.srvc {
    padding-top: 20px;
    padding-right: 50px;
   align-items: center;
    background-color: greenyellow !important;

  
} 

#card {
    display: block;
    margin-top: 20px;
    height: 230px;
    justify-content: space-evenly;
   }
   .crd1 {
    display: block;
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    background-color: #f3f3f3;
    
   }
   .crd2 {
    display: block;
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    margin-top: 20px;
    background-color: #B9FF66;
    
   }

   .seo {
    margin-top: 40px;
    margin-left: 40px;
   }

   .tokyo {
    position: absolute;
    right: 50px;
    bottom: 50px;
   }
    
   .arrw {
    position: absolute;
    bottom: 10px;
    left: 40px;
   }
   .msrvc2 {
    margin-top: 5000px;
    padding-top: 20px;
    padding-right: 50px;
   align-items: center;
    background-color: greenyellow !important;

  
} 

   /* accordion1 */

   .accordion1 {
    position: relative;
    height: 100px;
    background-color: #f3f3f3;
    overflow: hidden;
    margin-top: 60px;
    margin-left: 7%;
    margin-right: 6%;
    padding-left: 60px;
    padding-top: 40px;
    padding-right: 60px;
    border: 1px solid black;
    border-radius: 20px;
   }
 .pppaw {
    visibility: hidden;

 }  

   .uprh {
    display: flex;
    font-family: Space Grotesk;
    font-weight: bolder;
   }

   .minus-sign {
    position: absolute;
   
    top: 35px;
    right: 50px;
   }

 /* accordion2 */
   .accordion2 {
    position: relative;
    height: 100px;
    background-color: #f3f3f3;
    margin-top: 20px;
    margin-left: 7%;
    margin-right: 6%;
    padding-left: 60px;
    padding-top: 40px;
    padding-right: 60px;
    border: 1px solid black;
    border-radius: 20px;
   }

   .uprh2 {
    display: flex;
    font-family: Space Grotesk;
    font-weight: bolder;
   }

   .minus-sign2 {
    position: absolute;
   
    top: 35px;
    right: 50px;
   }



   /* form */

   .form-section {
    position: relative;
    height: 400px;
    background-color: #f3f3f3;
    margin-top: 20px;
    margin-left: 7%;
    margin-right: 6%;
    padding-top: 40px;
    padding-left: 50px;
    border-radius: 20px;
    
   }
   .form-control {
    width: 190% !important;
   }
   .form-s {
    height: 100%;
    width: 50%;
    
   }
   .illu {
    position: absolute;
    top: 0px;
    right: 0px;
    visibility: hidden;
    

   }

    /* Footer */

.foot {
    height: 700px;
    background-color: black;
    display: flex;
    position: relative;
    margin-top: 20px;
    margin-left: 7%;
    margin-right: 6%;
    padding-top: 40px;
    padding-left: 50px;
    border-radius: 20px;
    color: #f3f3f3;
}
.manu  {
    display: flex;
    justify-content: space-evenly;
   top: 80px;
   left: 150px;
    color: white;
    flex-direction: column;
    position: absolute;
}


.socl-log {
    position: absolute;
    bottom: -390px;
    right: 250px;
    display: flex;
    justify-content: space-evenly;
   
}

.aa a{
    color: #f3f3f3;
}

.button-btm {
    position: absolute;
    background-color: #B9FF66;
    top: 220px;
    left: 130px;
    border-radius: 10px;
}

.info {
    
    position: absolute;
    top: 270px;
    left: 80px;
}
.aara {
    position: absolute;
    color: #f3f3f3;
   padding-top: 20px;
    background-color: grey;
    height: 130px;
    width: 300px;
    text-align: center;
    top: 400px;
    left: 60px;
}

.botn {
    background-color: #B9FF66 !important;
    border-radius: 20px;
}

.pera1 {
    position: absolute;
    bottom: 50px;
    left: 60px;
}
.pera2 {
    position: absolute;
    bottom: 20px;
    left: 150px;
}

}
  /* Tablet */
  @media (min-width: 501px) and (max-width: 768px) {
    .pb {
        position: relative;
    
    }
    
    
    .para {
        font-size: 1rem;
        position: absolute;
        bottom: 0px;
        left: 40px;
  }
  .logo-service {
    margin-top: 100px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.srvc {
    padding-top: 60px;
    padding-right: 40px;
   align-items: center;
    background-color: greenyellow !important;
   
}

  }
  
  /* Normal */
  @media (min-width: 769px) and (max-width: 1200px) {
    .pb {
        position: relative;
    
    }
    
    
    .para {
        font-size: 1rem;
        position: absolute;
        bottom: 70px;
        left: 50px;
  }


}

  
   /* Normal */
   @media (min-width: 1201px) {
    .pb {
        position: relative;
    
    }
    
    
    .para {
        font-size: 1rem;
        position: absolute;
        bottom: 50px;
        left: 90px;
  }
  }